.beer_container{
    margin-top: 50px;
}
.beer_description{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
}