.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    
    .form-container{
        display: flex;
        flex-direction: column;
        .error{
            color: red;
        }
    }
}