<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
    <h3 *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </h3>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>email</mat-label>
      <input matInput id="email" type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>password</mat-label>
      <input
        matInput
        id="password"
        type="password"
        formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" id="login">
      Login
    </button>
  </form>
</div>
